<template>
	<require from="../../value_converters/date-format"></require>
	<div class="activity">
		<div class="optionsContainer">
			<form class="form-inline" role="form" submit.delegate="load()">
				<input type="text" value.bind="from" placeholder="from date/time">
				<input type="text" value.bind="to" placeholder="to date/time">
				<div class="toggleContainer">
					<button click.delegate="changeInterval('hour')" class="btn btn-default ${interval == 'hour' ? 'active' : ''} ">Hour</button>
					<button click.delegate="changeInterval('minute')" class="btn btn-default ${interval == 'minute' ? 'active' : ''} ">Minute</button>
				</div>
				<input type="checkbox" checked.bind="inverted">
				<p class="checkbox-label">Inverted Speed</p>
				<button type="submit" class="btn btn-default action">Submit</button>
				<button click.delegate="back()" class="btn btn-default action">Back</button>
			</form>
		</div>
		<div class="main">
			<div class="left-center">
				<div class="chart-container">
					<i show.bind="loaderA" class="fa fa-spinner fa-circle-o-notch fa-spin big-spinner"></i>
					<div show.bind="!loaderA" id="chart">
					</div>
				</div>
			</div>
			<div class="center-right">
				<div class="regression-container">
					<h1>Linear Regression</h1>
					<div class="error-message">${errorMessage}</div>
					<h2 show.bind="!loaderR">Slope: ${regressionSlope}</h2>
					<i show.bind="loaderR" class="fa fa-spinner fa-circle-o-notch fa-spin"></i>
					<form submit.delegate="loadRegression()">
						<label>Filter out activity below:</label>
						<input type="text" value.bind="minActivity"/>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="list-container">
					<div class="host-header" show.bind="hosts[0]">
						<div click.delegate="changeHostType(0)" class="item ${0 == hostType ? 'active' : ''}">Host IP</div>
						<div click.delegate="changeHostType(1)" class="item ${1 == hostType ? 'active' : ''}">Host Name</div>
					</div>
					<div class="host-list">
						<ol class="scroll">
							<li repeat.for="row of hosts">
								<a click.delegate="changeHost($index)" class="list-group-item ${$index == hostIndex ? 'active' : ''}" >${row[hostType]} 
									<span class="badge">${row[2]}</span>
								</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>