.activity
	column()
	height 100%	
	.optionsContainer
		width 100%
		height 50px
		column(stretch, center)
		background lightgrey
		form
			grow()
			row(center, flex-start)
			input
				height 3.5rem
				font-size 1.2rem
				margin 0 1rem
				padding 1rem
			button 
				font-size 1.2rem
				height 3.5rem
				width 10rem
				padding 0
				&.action
					margin 0 0.5rem
			.checkbox-label
				margin 0 1rem 0 0
			.toggleContainer 
				row()
				width 20rem
				margin 0 1rem
				button 
					width 50%
					background grey
					color white
					&.active
						background green
				p
					margin 0
					font-size 1.2rem
	.main
		row()
		border 1rem solid #f8f8f8
		height calc(100% - 50px)
		.left-center
			width 55%
			height 100%
			column(stretch, flex-start)
			.chart-container
				width 100%
				height 60%
				column(center, center)
				overflow-x auto
				.big-spinner::before 
					font-size 4rem
				#chart
					grow()
					max-width 110%
					max-height 100%
					column(center,center)
					svg
						align-self flex-start
						margin-left 1rem
					.tooltip
						position absolute
						display block
						font-size 1.5rem
						padding 0.5rem
						background white
						color black
						z-index 999
		.center-right
			grow()
			column(center, flex-start)
			.regression-container
				column(flex-start, flex-start)
				margin-top 4rem
				h1
					font-size 2rem
				h2
					font-size 1.5rem
					margin-top 10px
					margin-bottom 10px
				.error-message
					color red
					font-size 1.3rem
					max-width 25rem
				form
					column()
					label
						font-size 1.2rem
						font-weight normal
					input
						width 10rem
						height 3.5rem
						padding-left 0.2rem
				i
					margin 10px 0
				button
					font-size 1.2rem
					height 3.5rem
					margin 0.5rem 0
					width 10rem
					padding 0
		.right
			column(center, flex-start)
			height 100%
			grow()
			.list-container
				column()
				width 28rem
				max-height calc(100% - 1rem)
				margin-bottom 1rem
				.host-header
					row(stretch, center)
					margin-left 4rem
					margin-top 1rem
					shrink(0)
					.item
						grow()
						padding 0.7rem
						background white
						border-radius 4px
						margin 0 0.1rem
						margin-bottom 0.5rem
						text-align center
						color #555
						text-decoration none
						&:hover
							&:not(.active)
								background #f5f5f5
						&.active
							background #337ab7
							color white
							text-decoration none
				.host-list
					column()
					overflow-x auto
					overflow-y auto
					.scroll
						column()