make-flex(direction, align, justify)
  display -webkit-flex
  -webkit-flex-direction direction
  -webkit-align-items align
  -webkit-justify-content justify

row(align = stretch, justify = flex-start)
  make-flex row align justify

column(align = stretch, justify = flex-start)
  make-flex column align justify

grow(order = 1)
  -webkit-flex-grow order

shrink(order = 1)
  -webkit-flex-shrink order