.host
	column()
	.optionsContainer
		width 100%
		height 53.3px
		column(stretch, center)
		background lightgrey
		form
			grow()
			row(center, flex-start)
			input
				height 3.5rem
				font-size 1.2rem
				margin 0 1rem
				padding 1rem
			button 
				font-size 1.2rem
				height 3.5rem
				padding 0
				width 10rem
			.toggleContainer 
				row()
				width 20rem
				margin 0 1rem
				button 
					width 50%
					background grey
					color white
					&.active
						background green
			.click-button
				margin 0 0.5rem
#hostgraph
		column(center, center)
		width 100%
		height 100%
		border 1rem solid #f8f8f8
		.atooltip
			position absolute
			display block
			font-size 1.5rem
			padding 0.5rem
			background lightblue
			color black
			z-index 999