.map
	row()
	flex-wrap wrap
	height 100%
	width 100%
	background #f8f8f8
	.optionsContainer
		width 100%
		height 50px
		column(stretch, center)
		background lightgrey
		form
			grow()
			row(center, flex-start)
			p
				margin 0
			input
				height 3.5rem
				font-size 1.2rem
				margin 0 1rem
				padding 1rem
			button 
				font-size 1.2rem
				height 3.5rem
				padding 0
				width 10rem
			.toggleContainer 
				row()
				width 20rem
				margin 0 1rem
				button 
					width 50%
					background grey
					color white
					&.active
						background green
				p
					margin 0
					font-size 1.2rem
					align-self center
			.checkboxContainer
				column(center, center)
				margin-right 15px
				margin-left 15px
				p
					margin 0
					font-size 1.2rem	
				input
					height auto
			.drawButton
				margin-left 2rem
		i
			position absolute
			top 1.5rem
			right 2rem
			width 2.2rem
			height 2.2rem
			&::before
				font-size 2.2rem
	.left
		column()
		min-width 80%
		grow()
		height calc(100% - 50px)
		#map
			position relative
			grow()
			border 1rem solid #f8f8f8
	#right
		width 15%
		height calc(100% - 50px)	
		overflow hidden
		border 1rem solid #f8f8f8
		.host-list
			overflow scroll
			height calc(100% - 50px)
			.scroll
				shrink(0)
				grow()






