.welcome
  column(center, flex-start)
  width 100%
  height 100%
  .center
    column(center, center)
    width 100%
    height 100%
    .row
      row(center, center)
      width 100%
      height 50%
      .right, .left
        column(center, center)
        width 40%
        img
          width auto
          height 300px
