<template>
	<div class="host page">
		<div class="optionsContainer">
			<form submit.delegate="load()">
				<input type="text" value.bind="from" placeholder="from date: yyyy-mm-ddThh:mm:ss"/>
				<input type="text" value.bind="to" placeholder="from date: yyyy-mm-ddThh:mm:ss"/>
				<div class="toggleContainer">
					<button click.delegate="select(0)" class="btn btn-default ${clickAction == 0 ? 'active' : ''} ">Activity</button>
					<button click.delegate="select(1)" class="btn btn-default ${clickAction == 1 ? 'active' : ''} ">Destinations</button>
				</div>
				<button class="btn btn-default click-button" type="submit">Load</button>
				<button class="btn btn-default click-button" click.delegate="back()">Back</button>
			</form>
		</div>
		<div id="hostgraph"></div>
	</div>
</template>