<template>
	<div class="map">
		<div class="optionsContainer">
			<form submit.delegate="load()">
				<input type="text" value.bind="from" placeholder="from date/time">
				<input type="text" value.bind="to" placeholder="to date/time">
				<div class="toggleContainer">
					<button click.delegate="setType('store')" class="btn btn-default ${transferType == 0 ? 'active' : ''} ">Stores</button>
					<button click.delegate="setType('retrieve')" class="btn btn-default ${transferType == 1 ? 'active' : ''} ">Retrieves</button>
				</div>
				<div class="toggleContainer">
					<button click.delegate="setType('fSize')" class="btn btn-default ${coloringType == 0 ? 'active' : ''} ">Data size</button>
					<button click.delegate="setType('frequency')" class="btn btn-default ${coloringType == 1 ? 'active' : ''} ">Frequency</button>
				</div>
				<p>
					Select the line width:
				</p>
				<div class="toggleContainer">
					<input type="range" value.bind="lineWidth" min="1" max="7">
					<p>${lineWidth}</p>
				</div>
				<div class="checkboxContainer">
					<p>Refresh</p>
					<input type="checkbox" checked.bind="refresh" \>
				</div>
				<div class="checkboxContainer">
					<p>Sort on Node</p>
					<input type="checkbox" checked.bind="perNode" \>
				</div>
				<button class="btn btn-default drawButton" type="submit">Show Transfers</button>
			</form>
			<i show.bind="loader" class="fa fa-spinner fa-circle-o-notch fa-spin"></i>
		</div>
		<div class="left">
			<div id="map"></div> 
		</div>
		<div id="right" if.bind="showHosts">
			<div class="host-list">
				<ol class="scroll">
					<li repeat.for="row of hosts">
						<a click.delegate="changeHost($index)" class="list-group-item ip ${$index == hostIndex ? 'active' : ''}" >${row.key} 
						</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
</template>