<template>
  <section class="welcome">
    <div class="center">
      <h2>${heading}</h2>
      <h3>We have created this web app to make Nikhef's big data understandable.</h3>
      <h3>Just going through the enormous amount of data by text is a (near) impossible task.</h3>
      <h3>Therefore, we found a way to visualize this data, so things can be understood by the naked eye.</h3>
      <div class="row">
        <div class="left">
          <h2>Go to the map!</h2>
          <a href="#/map">
            <img class="img" border="0" src="http://www.larsbehrens.nl/images/nikhef/map.png">
          </a>
        </div>
        <div class="right">
          <h2>Go to the activity barchart!</h2>
          <a href="#/activity">
            <img class="img" border="0" src="http://www.larsbehrens.nl/images/nikhef/barchart.png">
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
